@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: inter;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.cursor {
  opacity: 0;
  animation: blink 800ms steps(1) infinite;
  animation-delay: 100ms;
}

@keyframes gradient-x {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 5s ease infinite;
}

@keyframes gradient-y {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient-y {
  animation: gradient-y 5s ease infinite;
}

/* Custom Scroll */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Untuk Chrome, Safari, dan Opera */
}

.scrollbar-hide::-webkit-scrollbar-thumb {
  cursor: grab; /* Kursor grab */
}

.scrollbar-hide::-webkit-scrollbar-thumb:active {
  cursor: grabbing; /* Kursor berubah saat di-drag */
}